<div class="jumbotron">
<div class="theme">
<h2>FuzzySQL</h2>
Fuzzy query of sci-fi time travel media database
</div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Search terms
    </div>
    <div class="panel-body">
        <%= form_tag(controller: "documents", action: "search", method: "post", class: "form-inline") do %>
            <%= label_tag(:q, "Search DB for:") %>
            <%= text_field_tag(:q, @search_string, {class: "form-control", size: 100}) %>
            <%= submit_tag("Search", class: "btn btn-default", onclick: "showbar()") %>
        <% end %>
    </div>
</div>
<% if @output != nil  %>
    <div class="panel panel-success">
        <div class="panel-heading">
            Results
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">       
                    <thead>
                        <tr>
                            <th>Media</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <% @output.each do |document,score| %>
                        <tr>
                            <td><%= document.media %></td>
                            <td><%= document.author %></td>
                            <td><%= document.title %></td>
                            <td><%= document.description %></td>
                            <td><%= score.round(3) %></td>        
                        </tr>
                    <% end %>
                </table>
            </div>
            <% if @output.size == 0 %>
                <em> No results found </em>
            <% end %>
        </div>
    </div>
<% end %>