<h1><%= @keywords%></h1>
<h1><%= @w%></h1>
<table style="width:1300px">
<% @output.each do |novel,score| %>
    <tr>
        <td><%= novel.author %></td>
        <td><%= novel.title %></td>
        <td><%= novel.description %></td>
        <td><%= score %></td>        
    </tr>
<% end %>
</table>
<% if @output.size == 0 %>
    <em> No results found </em>
<% end %>